.footer {
    background-color: #f2f2f2;
    padding: 53px 160px 38px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .first-footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 36px;
  }
  
  .first-footer img {
    margin-left: 20px;
  }
  
  .footer-text {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 42px;
  }
  
  .sec-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .sec-footer span {
    font-size: 14px;
  }
  
  .sec-footer span:not(:last-child):after {
    display: inline-block;
    content: "";
    width: 1px;
    height: 18px;
    background-color: #4f4f4f;
    margin: 0 8px;
    vertical-align: middle;
  }