.login-container {
    position: absolute;
    top: 44px;
    right: 48px;
  }
  
  .login,
  .join {
    font-size: 16px;
    font-weight: 900;
  }
  
  .login::after {
    display: inline-block;
    content: "";
    width: 2px;
    height: 15px;
    background-color: #000;
    vertical-align: middle;
    margin: 0 8px;
  }