@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&family=Rubik+Mono+One&display=swap");

body,
h1,
h2,
h3,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}
button {
  border: 0;
  background: none;
  font: inherit;
}
button:not(:disabled) {
  cursor: pointer;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
